.textCenter {
    text-align: center;
}

.card-navigate-item {
    cursor: pointer;
}

    .card-navigate-item:hover {
        background-color: #d5beea;
    }

.container-wrapper {
    padding: 0px;
    margin: 0px;
}

.questionBtn {
    cursor: pointer;
    max-width: 300px;
    margin: 0px auto;
}

.pagedBox {
    cursor: pointer;
}

.swiper-product {
    padding-bottom: 0px;
}

.fleft {
    float: left;
}

.icon-circle {
    float: right;
}

.content-color-secondary-white {
    color: white;
}

.page-boxes-wrapper {
    display: inherit;
    padding-top: 15px;
    padding-bottom: 1px;
    width: 100%;
}

.pagedBox {
}

#page-boxes {
    overflow: auto;
    display: flex;
}

.answer-option-item {
    margin-top:20px;
}

    .answer-option-item:hover {
        -webkit-box-shadow: 1px 3px 11px 8px rgba(166,115,255,1);
        -moz-box-shadow: 1px 3px 11px 8px rgba(166,115,255,1);
        box-shadow: 1px 3px 11px 8px rgba(166,115,255,1);
    }

.answer-option-item-choiced {
    -webkit-box-shadow: 1px 3px 11px 8px rgba(166,115,255,1);
    -moz-box-shadow: 1px 3px 11px 8px rgba(166,115,255,1);
    box-shadow: 1px 3px 11px 8px rgba(166,115,255,1);
}