.textCenter {
    text-align: center;
}

.card-navigate-item {
    cursor: pointer;
}

    .card-navigate-item:hover {
        background-color: #d5beea;
    }

.container-wrapper {
    padding: 0px;
    margin: 0px;
}

.questionBtn {
    cursor: pointer;
    max-width: 300px;
    margin: 0px auto;
}

.pagedBox {
    cursor: pointer;
}

.swiper-product {
    padding-bottom: 0px;
}

.fleft {
    float: left;
}

.icon-circle {
    float: right;
}

.content-color-secondary-white {
    color: white;
}

.page-boxes-wrapper {
    display: inherit;
    padding-top: 15px;
    padding-bottom: 1px;
    width: 100%;
}

.pagedBox {
}

#page-boxes {
    overflow: auto;
    display: flex;
}

.answer-option-item {
    margin-top: 20px;
}



.answer-option-item-choiced {
    -webkit-box-shadow: 1px 3px 11px 8px rgba(166,115,255,1);
    -moz-box-shadow: 1px 3px 11px 8px rgba(166,115,255,1);
    box-shadow: 1px 3px 11px 8px rgba(166,115,255,1);
}

.statistic-box {
    max-width: 350px;
    margin: 0px auto;
}

.modal-header {
    text-align: center;
}

.modal {
    top: 16%;
}

.content-header {
    padding: 20px;
}

.questionImage {
    width: 100%;
    image-rendering: -webkit-optimize-contrast !important;
}

.modal-title {
    margin: 0px auto;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.form-check .form-check-label {
    cursor: pointer;
    padding-left: 25px;
    position: relative;
}

    .form-check .form-check-label .circle {
        text-align: center !important;
        height: 25px !important;
        width: 25px !important;
    }

    .form-check .form-check-label .circle {
        border: 1px solid rgba(0, 0, 0, .54);
        height: 15px;
        width: 15px;
        border-radius: 100%;
        top: 1px;
    }

    .form-check .form-check-label span {
        display: block;
        position: absolute;
        left: -1px;
        top: -1px;
        transition-duration: 0.2s;
    }

span.check-textqqx2 {
    margin-top: 5px;
    margin-left: 8px;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

    *, *::before, *::after {
        box-sizing: border-box;
    }

        *, *::before, *::after {
            box-sizing: border-box;
        }


.form-check .form-check-label {
    cursor: pointer;
}

.bmd-form-group .checkbox label, .bmd-form-group .radio label, .bmd-form-group label {
    font-size: 0.875rem;
}

.bmd-form-group label {
    color: #AAAAAA;
}

.bmd-form-group .form-control, .bmd-form-group label, .bmd-form-group input::placeholder {
    line-height: 1.1;
}

.form-check, label {
    font-size: 14px;
    line-height: 1.42857;
    color: #AAAAAA;
    font-weight: 400;
}

.form-check {
    margin-bottom: .5rem;
    padding-left: 0;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

form-check .form-check-input {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}

.form-check .form-check-input {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
}

input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.form-check .form-check-input:checked ~ .circle {
    border-color: #9c27b0;
}

.form-check .form-check-input:checked ~ .check, .form-check .form-check-input:checked ~ .circle {
    opacity: 1;
}

#resultTabPanel .nav-item {
    width: 50%;
}
#resultTabPanel .nav-item a{
    text-align:center;
}
