@using AqApplication.Manage.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>
        A&Q | Giriş Sayfası
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/demo/demo8/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="/assets/demo/demo8/media/img/logo/favicon.ico" />
</head>
<!-- end::Head -->
<!-- end::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
            <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
                <div class="m-stack m-stack--hor m-stack--desktop">
                    <div class="m-stack__item m-stack__item--fluid">
                        <div class="m-login__wrapper">
                            <div class="m-login__logo">
                                <a href="#">
                                    <img src="/assets/app/media/img//logos/logo-2.png">
                                </a>
                            </div>
                            <div class="m-login__signin">
                                <div class="m-login__head">
                                    <h3 class="m-login__title">
                                        Giriş Yap
                                    </h3>
                                </div>
                                @if (((bool?)TempData["EmailConfirmed"]).HasValue)
                                {
                                    <div class="m-alert m-alert--outline alert alert-success alert-dismissible animated fadeIn"
                                         role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                        <span>Hesabınız onaylanmıştır giriş yapabilirsiniz</span>
                                    </div>
                                }


                                <form class="m-login__form m-form" id="login_form">
                                    <input type="hidden" value="@ViewBag.ReturnUrl" name="returnUrl" id="login_ReturnUrl" />
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="E-Posta" name="Email" autocomplete="off" id="login_Email">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Şifre" name="Password" id="login_Password">
                                    </div>
                                    <div class="row m-login__form-sub">
                                        <div class="col m--align-left">
                                            <label class="m-checkbox m-checkbox--focus">
                                                <input type="checkbox" name="RememberMeField" id="login_RememberMe">
                                                Beni Hatırla
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col m--align-right">
                                            <a href="javascript:;" id="m_login_forget_password" class="m-link">
                                                Şifremi Unuttum ?
                                            </a>
                                        </div>
                                    </div>
                                    <div class="m-login__form-action">
                                        <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                            Giriş Yap
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="m-login__forget-password">
                                <div class="m-login__head">
                                    <h3 class="m-login__title">
                                        Şifremi Unuttum ?
                                    </h3>
                                    <div class="m-login__desc">
                                        Şifrenizi resetlemek için lütfen e-posta adresinizi giriniz
                                    </div>
                                </div>
                                <form class="m-login__form m-form" action="">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
                                    </div>
                                    <div class="m-login__form-action">
                                        <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                            Gönder
                                        </button>
                                        <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">
                                            İptal
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="m-stack__item m-stack__item--center">
                     
                    </div>
                </div>
            </div>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(../../../assets/app/media/img//bg/bg-4.jpg)">
                <div class="m-grid__item m-grid__item--middle">
                    <h3 class="m-login__welcome">
                        Answer&Question
                    </h3>
                    <p class="m-login__msg">
                        Türkiye nin en iyi interaktif
                        soru portali
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!--begin::Base Scripts -->
    <script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="/assets/demo/demo8/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Base Scripts -->
    <!--begin::Page Snippets -->
    <script src="/assets/snippets/custom/pages/user/login.js" type="text/javascript"></script>
    <script src="/assets/app/js/jquery.validation.messages_tr.js"></script>
    <script src="/assets/app/js/jquery.cookie.min.js"></script>

    <script type="text/javascript">
        var message = '@ViewBag.message';
        $(document).ready(function () {
            var remember = $.cookie('remember');
            if (remember == 'true') {
                var username = $.cookie('username');
                var password = $.cookie('password');
                // autofill the fields
                $('#login_Email').attr("value", username);
                $('#login_Password').attr("value", password);
            }
            if (message !== '') {
                $("#login_form")
                    .prepend('<div class="m-alert m-alert--outline alert alert-success alert-dismissible animated fadeIn" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"></button><span>' + message+'</span></div>');
            }
        });
        if ($('#login_RememberMe').attr('checked')) {
            var username = $('#login_Email').attr("value");
            var password = $('#login_Password').attr("value");
            // set cookies to expire in 14 days
            $.cookie('username', username, { expires: 14 });
            $.cookie('password', password, { expires: 14 });
            $.cookie('remember', true, { expires: 14 });
        } else {
            // reset cookies
            $.cookie('username', null);
            $.cookie('password', null);
            $.cookie('remember', null);
        }
    </script>
    <!--end::Page Snippets -->
</body>
<!-- end::Body -->
</html>
